{% extends "network/layout.html" %}

{% block body %} 
<div id="view-post">

    {% for post in posts %} 
        <br>
        <div id="each-post">
            <label><a href="{% url 'profile' post.post_author post.post_author.id %}" >{{post.post_author}}</a></label>
            <br>
            <p>{{post.content}}</p>
            <!-- images go here -->
            <hr>
            <div style="display:flex; padding:0"> 
                <div id="likes-num"> <button>Like</button><p>{{post.likes}} likes</p></div>
                <div id="comments-num"><button>Comment</button><p>{{post.comments}} comments</p></div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}