{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script src="{% static 'network/homepage.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="search-section">
        <h3>Featured Destinations:</h3>
        {% for location in locations %} 
            <p>{{location}}</p>
        {% endfor %}
    </div>
    
    <div id="posts-section">
        <div id="compose-post">
            <form id = "post-form">
                {% csrf_token %}
                <div>
                    <label>Location: </label>
                    <input id="location-input" type="text">
                </div>
                <textarea input="auto_grow(this)" class="form-control" id="compose-content" placeholder="What do you want to share today?" rows="20"></textarea>
                <br>
               
                <input type="submit" class="btn btn-primary submit-new-post" value="Post">
            </form>
            
        </div>
    
        <div data-current_user_id = {{request.user.id}} id="view-post">
            {% if user.is_authenticated %}
            <input type="text" id="post-bar" placeholder="{{request.user}}, what's on your mind?">
            {% endif %}
            <br>

            <div id="all-posts"></div>

            <!--
            {% for post in page_obj %} 
                <br>
                <div id="each-post">
                    <label><a href="{% url 'profile' post.post_author post.post_author.id %}" >{{post.post_author}}</a></label>
                    {% if post.post_author == request.user %}
                        <button id="edit-btn" type="button" style="margin-left: auto; margin-right: 10px;">
                        Edit
                        </button>
                    {% endif %}
                    <br>
                    <p>{{post.content}}</p>
            
                    <hr>
                    <div style="display:flex; padding:0"> 
                        <div id="likes-num"> <button id="like-btn">Like</button><p>{{post.likes}} likes</p></div>
                        <div id="comments-num"><button id="comment-btn">Comment</button><p>{{post.comments}} comments</p></div>
                    </div>
                </div>
            {% endfor %}
            -->
            
            
            <ul class="pagination" id="pagination">
                <!--
                
                    {% if page_obj.has_previous %}
                
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; 1</a></li>
                    {% endif %}



                    {% if page_obj.has_next %}  
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            -->   
            </ul>
            

        </div>
    </div>

    <script src="{% static 'network/posts.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            load_posts(1);
            pagination();
        });

        function load_posts(current_page){
            fetch(`posts/posts?page=${current_page}`)
            .then(response => response.json())
            .then(posts => {
                console.log(posts);
                postLayout(posts);            
                });
        }

        
        function pagination(){
            fetch(`posts/page`)
            .then(response => response.json())
            .then(result => {
                console.log(result);
                paginationSetup(result);
            });
        }

    </script>

{% endblock %}
