{% extends "network/layout.html" %} 
{% load static %}

{% block style %}
    <link href="{% static 'network/profile.css' %}" rel="stylesheet" >
{% endblock %}

{% block body %} 
    <div data-user_id = {{profile_user.id}} id="personal-info">
        <div>
            <label id="username">
                {{profile_user.username}}
            </label>
            <br>
            <div id="user-numbers" class="container">
                <div class="row">
                    <div class="col-sm"> {{posts_count}} posts</div>
                    <div class="col-sm" id="followers-num-profile"> {{followers}} followers</div>
                    <div class="col-sm"> {{following}} following</div>
                </div>
            </div>
            {% if profile_user != request.user %}
                {% if followed %}
                    <button data-followed = "true" id="follow-btn" onclick="followButton()"> Unfollow </button>
                {% else %}
                    <button data-followed = "false" id="follow-btn" onclick="followButton()"> Follow </button>
                {% endif %}
            {% endif %}

        </div>
    </div>

    <hr>

    <div data-current_user_id = {{request.user.id}} id="view-post">
        <div id="all-posts"></div>
    </div>
    
    <ul class="pagination" id="pagination"></ul>


    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    
    <script type="text/babel">
        function Posts() {
            return null;
        }
       
    </script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/profile.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            load_posts(1);
            pagination();
        });

    
    </script>

{% endblock %}
