body {
    margin: 8px;
    background-color: #F3E7E7;
}

label {
    font-weight: bold;
}

#nav {
    background-color: black;
    margin-bottom: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
   color: gray;
}

#posts-btns button:hover {
    border-width: 1px;
}

#follow-btn:hover {
    border-width:1px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
#compose-post {
    width: 80%;
    margin: 20px;
    padding: 20px;
}

#compose-content {
    width: 100%;
}

.body{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline;
}

#search-section {
    float:left;
    width:350px;
    margin: 0px;
    overflow: auto;
    overflow-wrap: break-word;
    border-style: groove;
    border-width: 0.5px;
    padding: 10px;
    margin-left: 20px;
    background-color: white;
}

#posts-section {
    width: 70%;
    margin-left: 400px;
    margin-right: 0px;

    
}

#post-bar {
    padding-left: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;

}

#each-post {
    border-style: groove;
    border-width: 0.5px;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 30px;
    background-color: white;
}

#post-content {
    white-space: pre-wrap;
}

#posts-btns {
    display:flex; 
    padding:0
}

#likes-num, #comments-num {
    display: inline-block;
    margin-left:auto; 
    margin-right: 10px;
    padding: 0
}

#likes-num {
    margin-left: 10px;
    margin-right: auto;
}

#edit-btn {
    height: 50%;
}

#all-posts {
    margin: auto;
}